.shopping_cart {
  max-width: 1440px;
  margin: auto;
  padding: 20px 24px;
}

.main_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  
}
.first_container,
.second_container {
  /* width: 100%; */
  flex-grow: 0.4;
}

.second_container {
  flex-grow: 0.4;
  margin-inline: auto;
}
@media (max-width: 768px) {
  .bar_container{
    display: none;
  }
}
