.order-detail-page {
  max-width: 1440px;
  margin: auto;
  padding: 20px 24px;
}

.order-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  justify-content: center;
  margin: 20px 0px;
  font-weight: bold;
  gap: 10px;
  text-align: left;
}
.button {
  padding: 10px 20px;
  border: none;
  background-color: #23b4f6;
  color: #fff;
}
.star {
  width: 20px;
  height: 20px;
  border: none;
}
.outer-three {
  margin: 10px 0px;
  font-weight: bold;
}
.button-contaner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
#description {
  padding: 10px 0px 0px 10px;
}
.star-contaner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 10px 0px;
}

.inner-three .image {
  width: 100%;
  max-width: 180px;
}
#details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#details h4 {
  font-size: 20px;
  color: black;
}

.total {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 10px 0px;
}
.total-value {
  margin-right: 50px;
}
.inner-three {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .outer {
    display: none;
  }
  .outer-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  .inner-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5px;
  }
  .color,
  .price-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .outer-three {
    margin: 10px auto;
  }
}

@media (min-width: 768px) {
  .outer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23b4f6;
    color: white;
    font-weight: bold;
    padding: 10px 0px;
  }
  .inner-one,
  .inner-three {
    width: 15%;
  }
  .outer-three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .inner-two,
  .inner-four {
    width: 85%;
    display: flex;
    justify-content: space-around;
  }
  .price {
    display: none;
  }
  .inner-two > div,
  .inner-four > div {
    width: 20%;
  }
  .reviews {
    width: 100%;
    margin: auto;
  }
  #details {
    align-items: center;
    justify-content: center;
  }
  .color {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  #details {
    align-items: center;
  }
  #details > div {
    text-align: left;
  }
  .price-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
  }
  .button-contaner {
    justify-content: center;
  }
  .outer-three {
    margin-bottom: 10px;
    background-color: #f5f5f5;
  }
}
