.login {
  max-width: 1440px;
  margin: auto;
  padding: 20px 24px;
}

.login-container {
  /* background-color: rgb(5, 26, 71); */
  width: 80%;
  margin: auto;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 20px;
}
.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}
.input-container {
  background-color: #fff;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
}

.login-img {
  width: 100%;
  margin: auto;
  border-radius: 20px;
}

.greeting-container {
  width: 50%;
}
.greeting-container div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  color: #fff;
}
.input-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

.input-container form input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #969696;
}

.input-container form button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(5, 26, 71);
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
.error {
  font-weight: bold;
  color: red;
}
@media (max-width: 1024px) {
  .login-container {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .input-container,
  .greeting-container {
    width: 100%;
    text-align: center;
  }
  .input-container {
    border-radius: 20px 20px 0px 0px;
    align-items: center;
  }
  .greeting-container h1 {
    margin: auto;
  }
}

@media (max-width: 320px) {
  .input-container form {
    margin: 0;
    font-size: 14px;
    padding: 0;
    margin: 20px 0px;
  }
  .input-container form input {
    margin: 0 10px;
    font-size: 12px;
    padding: 10px 1px;
  }
  .input-container form button {
    margin: 0 10px;
    font-size: 14px;
    padding: 10px 1px;
  }
}
