.card{
    margin-block: 10px;
    text-align: center;
}

.desc{
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    gap: 10px;
}

.title{
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
}
.description{
    font-weight: 700;
    font-size: 14px;
    color: #737373;
}
.price{
    color: #23856D;
    font-weight: 700;
    font-size: 16px;
}