.background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
  width: 500px;
  height: 250px;
}

.modal-container button {
  padding: 10px 20px;
  background-color: #23a6f0;
  border: 1px solid #fff;
  color: #fff;
}
.modal-container button:disabled {
  background-color: #89d4ff;
}
.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding: 10px 20px;
  background-color: #fff;
  color: #23a6f0;
  font-size: 24px;
  font-weight: 700;
}

.address-form-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 10px 0px;
}
.address-form-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.address-form-row > input {
  padding: 10px 20px;
  width: 100%;
}
