.main_component {
  padding: 20px 24px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar{
    width: 20%;
}
.product_display{
    width: 80%;
    margin: auto;
}

@media  (max-width: 767px) {
  .sidebar,.product_display{
    width: 100%;
  }
  .main_component{
    justify-content: center;
  }
}