.about-team{
    max-width: 1440px;
    margin: auto;
    padding: 20px 24px;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px 50px 0px;
}
.meet-our-team{
    font-weight: 700;
    font-size: 40px;
}