.about-header {
    padding: 20px 24px;
    max-width: 1440px;
    margin: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.header_img {
    width: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.text-container h5,h1{
    color: #252B42;
    font-weight: 700;
}

.text-container h1{
    font-size: 58px;
}
.text-container h5{
    font-size: 16px;
}
.text-container h4{
    color: #737373;
    font-weight: 400;
    font-size: 20px;
}

.quote-btn{
    padding: 15px 40px;
    background-color: #23A6F0;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .container {
    flex-wrap: wrap;
  }
  .text-container{
    align-items: center;
    text-align: center;
  }
}