.card_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

@media screen and (max-width: 1170px) {
  .card_row{
    justify-content: center;
  }
  #second_row {
    display: none;
  }
}
