.card_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 1170px) {

    #second_row{
        display: none;
    }
}