.card {
  margin-block: 10px;
  text-align: center;
}

.desc {
  display: flex;
  flex-direction: column;
  padding-block: 10px;
  gap: 10px;
}
.price_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}
.title {
  font-weight: 700;
  font-size: 16px;
  color: #252b42;
}
.description {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}
.price {
  color: #23856d;
  font-weight: 700;
}
.original_price {
  color: #737373;
  font-weight: 700;
}

.color_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.card:hover{
  box-shadow: 1px 1px 10px 1px black;
}