.product_cards {
  padding: 20px 24px;
  max-width: 1440px;
  margin: auto;
}
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}
.description {
  margin-block: 20px;
}

.title_1 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #737373;
}
.title_2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #252b42;
}
.title_3 {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #737373;
}
.load_button {
  margin-block: 20px;
  padding: 15px 40px;
  background: transparent;
  border: 1px solid #23a6f0;
  color: #23a6f0;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 768px) {
.card-container{
    justify-content: center;
    gap: 20px;
}
}