
.footer_container {
  padding: 20px 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    
}
#first_container {
  background-color: #fafafa;
}
.footer_bar {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  gap: 20px;
}
.footer_logo h4 {
  font-size: 24px;
}
.footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer_content {
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  gap: 60px;
  
}
.col_title {
  font-weight: bolder;
}
.footer_col_1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_col_1 > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#footer_input {
    padding: 5px 20px;
    font-size: 16px;
}
.footer_col_1 > div input{
    border: 1px solid #CCC;
    padding: 20px;
}
.footer_col_1 > div button {
    background: linear-gradient(0deg, #23a6f0, #23a6f0),
    linear-gradient(0deg, #e6e6e6, #e6e6e6);
    padding: 20px;
    border: none;
    color: #FFF;
    font-size: 16px;
}
.bottom_bar_container{
    text-align: left;
    width: 100%;
    max-width: 1440px;
}

@media screen and (max-width: 768px) {
    .footer_content{
        justify-content: space-around;
        text-align: center;
        
    }
    .footer_col_1{
        align-items: center;
    }
    .footer_col_1 > div {
        gap: 10px;
    }
    #footer_input{
        padding: 10px 20px;
        width: 100%;
    }
    .footer_col_1 > div button{
        padding: 10px;
        width: 100%;
    }
    .bottom_bar_container{
        text-align: center;    }
}