.card{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.card img{
    width: 200px;
    height: 200px;
}
.description{
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: #ffffff;
    font-weight: 500;
}
