.card{
    position: relative;
    width: 100%;
}
.card img{
    width: 100%;
    width: 200px;
}
.description{
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: #FFF;
}

@media (min-width: 480px) and (max-width:768px){
   
}