.range-slider-container {
 width: 150px;
  }
  
  .price_text{
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
  }

  .value_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
  }